@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');



:root {
    --cor0: #000;
    --cor1: #69f5c6;

    --fonte-padrao: Bebas Neue, cursive;
    --fonte-destaque: Iceberg, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    background: var(--cor0);
}

header {
    background-color: var(--cor0);
    min-height: 100px;
    display: center;
    text-align: center;
    padding-top: 80px;
}

header > h1 {
    color: var(--cor1);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
}

input {
    color: #fff;
    padding: 17px;
    outline: none;
    font-size: 30px;
    font-family: var(--fonte-padrao);
    border-radius: 25%;
}

.num {
    width: 64px;
    height: 67px;
}

.text {
    width: 160px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
}

.text0 {
    width: 160px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: right;
    margin-bottom: 12px;
}

.text1 {
    width: 24px;
    height: 26px;
    border-radius: 25%;
    letter-spacing:5px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}
.main {
    display: inline-block;
    padding: 10px;
    width: 50%;
    width: 50%;
    margin: none;
    margin-left: 520px;
}

.maincolor {
    background-color: var(--cor0);
}

.blue {
    background-color: var(--cor1);
}



